/* primer foto y texto Voluntariado  */

.containerColorVoluntariado {
    background: #335151;
    margin: 5rem 0;
    height: 30rem;
    border-radius: 4px;
    box-shadow: 1px 824px 330px rgba(0, 0, 0, 0.01), 0px 464px 278px rgba(0, 0, 0, 0.05), 0px 206px 206px rgba(0, 0, 0, 0.09), 0px 52px 113px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.divColorVoluntariado {
    display: flex;
    width: 100%;
    height: 100%;
}

.divFotoIzqVoluntariado {
    width: 50%;
}

.fotoIzqVoluntariado {
    margin: 10% 0 0 10%;
    width: 70%;
    height: 100%;
    border-radius: 0px 40px;
    object-fit: cover;
}

.divTextoDerVoluntariado {
    width: 50%;
}

.divFlexTextoVoluntariado {
    width: 100%;
    display: flex;
    padding: 1rem;
    height: 100%;
    align-items: center;
}

.textoDerVoluntariado {
    color: #F3FFF5;
    margin: 0px;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    text-align: left;
}

/* titulo Valores de nuestras personas voluntarias  */

.divTituloVoluntariado {
    padding: 1rem;
    margin: 10rem 0px 0px 0px;
}

.tituloVoluntariado {
    margin: 0px;
    color: #335151;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 40px;
    text-align: center;
}

/* segunada foto y texto Voluntariado  */

.containerValoresVoluntariado {
    height: 30rem;
    margin: 5% 0;
}

.divFlexValoresVoluntariado {
    display: flex;
    height: 100%;
}

.divTextoIzqValoresVoluntariado {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divColorTextoIzqValoresVoluntariado {
    background: #335151;
    position: relative;
    width: 100%;
    height: 60%;
    padding: 1rem;
    border-radius: 40px 0px;
    left: 80px;
    box-shadow: 0px 254px 101px rgba(0, 0, 0, 0.01), 0px 143px 86px rgba(0, 0, 0, 0.05), 0px 63px 63px rgba(0, 0, 0, 0.09), 0px 16px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.textoValoresVoluntariado {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-weight: 600;
    color: #F3FFF5;
    line-height: 240%;
    font-size: 25px;
}

.divFlexFotoDerValoresVoluntariado {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.divColorFotoDerValoresVoluntariado {
    background: #D2D5B8;
    height: 90%;
    display: flex;
    width: 100%;
    border-radius: 40px 0px;
    align-items: center;
    justify-content: center;
}

.FotoDerValoresVoluntariado {
    height: 90%;
    width: 94%;
    border-radius: 40px 0px;
    box-shadow: 0px 451px 180px rgba(0, 0, 0, 0.01), 0px 254px 152px rgba(0, 0, 0, 0.05), 0px 113px 113px rgba(0, 0, 0, 0.09), 0px 28px 62px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.divTextoVoluntariado {
    margin: 2rem 0;
    padding: 1rem;

}

.TextoVoluntariado {
    margin: 0;
    color: #335151;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    text-align: center;

}

/* 2 fotos y texto de la propuesta  */

.containerPropuestaVoluntariado {
    margin: 5rem 0;
    height: 30rem;
    border-radius: 4px;
}

.divFlexPropuestaVoluntariado {
    display: flex;
    width: 100%;
    height: 100%;
}

.divTextoIzqPropuestaVoluntariado {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
}

.TextoIzqPropuestaVoluntariado {
    margin: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
}

.divListaPropuestaVoluntariado {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ListaPropuestaVoluntariado {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #335151;
    margin: 0;
}

.ListaLetraChicaPropuestaVoluntariado {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #335151;
    margin: 0;
}

.divFotoDerPropuestaVoluntariado {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoDerPropuestaVoluntariado {
    height: 80%;
    width: 80%;
    border-radius: 40px 0px;
    box-shadow: 0px 310px 124px rgba(0, 0, 0, 0.01), 0px 174px 105px rgba(0, 0, 0, 0.05), 0px 77px 77px rgba(0, 0, 0, 0.09), 0px 19px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* titulo y texto ¡Importante!  */

.containerImportanteVoluntariado {
    background: #d2d5b870;
    border-radius: 40px 0px;
    height: 10rem;
    margin: 5rem 0px;

}

.divImportanteVoluntariado {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
}

.tituloImportanteVoluntariado {
    color: #335151;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 140%;
    margin: 0;
    text-align: center;
}

.textoImportanteVoluntariado {
    color: #335151;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    margin: 0;
    text-align: center;
}

.tituloActividadVoluntariado {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 40px;
    color: #335151;
    text-align: center;
    margin: 0;
}

.TextoActividadVoluntariado {
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    color: #335151;
    text-align: center;
    margin: 0;
}

.divFotoPlantinesVoluntariado {
    background: #D2D5B8;
    border-radius: 0px 40px;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoPlantinesVoluntariado {
    height: 90%;
    width: 90%;
    border-radius: 0px 40px;
    box-shadow: 0px 500px 200px rgba(0, 0, 0, 0.01), 0px 281px 169px rgba(0, 0, 0, 0.05), 0px 125px 125px rgba(0, 0, 0, 0.09), 0px 31px 69px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.fotoMaderaVoluntariado {
    height: 80%;
    width: 80%;
    border-radius: 0px 40px;
    box-shadow: 0px 500px 200px rgba(0, 0, 0, 0.01), 0px 281px 169px rgba(0, 0, 0, 0.05), 0px 125px 125px rgba(0, 0, 0, 0.09), 0px 31px 69px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.divUltimoTextoVoluntariado {
    margin: 1rem 0 5rem 0;
    padding: 1rem;
}

.ultimoTextoVoluntariado {
    color: #335151;
    font-weight: 500;
    font-size: 31.25px;
    line-height: 140%;
    margin: 0;
    text-align: center;
}

.ultimoTextoLinkVoluntariado {
    color: #335151;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 140%;
    margin: 0;
    text-align: center;
}