header {
    background: #335151;
    padding: 15px 0;
}
.divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.divNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 700px;
}
.divNavbarTexto {
    color: #FAFFFB;
    text-decoration: none;
    font-weight: 500;
}