/* primer foto y texto quienes somos */

.primerContainerQuinesSomos {
    display: flex;
    padding: 2rem;
    height: 25rem;
    margin: 5rem 0 0 0;
}

.containerQuinesSomos {
    display: flex;
    padding: 2rem;
    height: 25rem;
}

.divQuinesSomosFotoIzq {
    background: rgba(210, 213, 184, 1);
    border-radius: 0px 40px;
    width: 50%;
}

.divQuinesSomosFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0px 40px;
    box-shadow: 0px 437px 175px rgba(0, 0, 0, 0.01), 0px 246px 147px rgba(0, 0, 0, 0.05), 0px 109px 109px rgba(0, 0, 0, 0.09), 0px 27px 60px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.QuinesSomosFoto {
    width: 80%;
    height: 80%;
    object-fit: cover;
}


.divQuinesSomosTextoDer {
    width: 50%;
}

.divQuinesSomosTexto {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
}

.QuinesSomosTextoArribaFotoPapa {
    color: #335151;
    letter-spacing: 0.01em;
    margin: 0px;
    padding: 0.5rem;
    font-weight: 700;
    line-height: 140%;
    text-align: left;
}

.QuinesSomosTextoAbajoFotoPapa {
    color: #335151;
    letter-spacing: 0.005em;
    margin: 0px;
    padding: 0.5rem;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}

.QuinesSomosTextoFotoPoda {
    color: #335151;
    letter-spacing: 0.005em;
    margin: 0px;
    padding: 0.5rem;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
}

.QuinesSomosTexto {
    color: #335151;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin: 0px;
    padding: 0.5rem;
    text-align: left;
}

/* titulo y container soñadores del Changüí   */

.divQuinesSomosTitulo {
    padding: 1rem;
    margin: 2rem;
}

.quinesSomosTitulo {
    color: rgba(51, 81, 81, 1);
    margin: 0px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 40px;
    text-align: center;
}

.containerQuinesSomosSoñadores {
    background: rgba(51, 81, 81, 1);
    border-radius: 0px 40px;
    padding: 1rem;
    margin: 5rem 0 0 0;
    box-shadow: inset 0px 500px 200px rgba(0, 0, 0, 0.01), inset 0px 281px 169px rgba(0, 0, 0, 0.05), inset 0px 125px 125px rgba(0, 0, 0, 0.09), inset 0px 31px 69px rgba(0, 0, 0, 0.1);

}

.divQuinesSomosSoñadores {
    display: flex;
    height: 25rem;
}

.divQuinesSomosSoñadoresTextoIzq {
    width: 50%;

}

.QuinesSomosSoñadores {
    color: #F3FFF5;
    font-weight: 400;
    margin: 0px;
    padding: 1rem;
    line-height: 130%;
    text-align: left;
}



.divQuinesSomosSoñadoresTextoDer {
    width: 50%;
}

.divQuinesSomosFotoSoñadores {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0px 40px;
}

.QuinesSomosSoñadoresFoto1 {
    width: 80%;
    height: 80%;
    border-radius: 40px 0px;
    box-shadow: 0px 310px 124px rgba(0, 0, 0, 0.02), 0px 174px 105px rgba(0, 0, 0, 0.08), 0px 77px 77px rgba(0, 0, 0, 0.13), 0px 19px 43px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}
.QuinesSomosSoñadoresFoto2 {
    width: 80%;
    height: 80%;
    border-radius: 40px 0px;
    box-shadow: 0px 310px 124px rgba(0, 0, 0, 0.02), 0px 174px 105px rgba(0, 0, 0, 0.08), 0px 77px 77px rgba(0, 0, 0, 0.13), 0px 19px 43px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

/* 2 fotos izquierda y texto  */

.divQuinesSomos2 {
    display: flex;
    height: 25rem;
}

.divQuinesSomosFotoIzquierda {
    width: 50%;
}

.divQuinesSomosFotoIzqSelfie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0px 40px;
}

.QuinesSomosFotos {
    width: 80%;
    height: 80%;
    border-radius: 0px 40px;
    box-shadow: 0px 437px 175px rgba(0, 0, 0, 0.01), 0px 246px 147px rgba(0, 0, 0, 0.05), 0px 109px 109px rgba(0, 0, 0, 0.09), 0px 27px 60px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.divQuinesSomosFotoDerecha {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 40px 0px;
}

.QuinesSomosFotoDer {
    width: 80%;
    height: 80%;
    border-radius: 40px 0px;
    box-shadow: 0px 437px 175px rgba(0, 0, 0, 0.01), 0px 246px 147px rgba(0, 0, 0, 0.05), 0px 109px 109px rgba(0, 0, 0, 0.09), 0px 27px 60px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover;

}

.containerQuinesSomosAnimales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
}

.divQuinesSomosAnimales {
    width: 25%;
}

.FotoIzqQuinesSomosAnimales {
    width: 100%;
    height: 20rem;
    border-radius: 40px 0px;
    box-shadow: 0px 247px 99px rgba(0, 0, 0, 0.02), 0px 139px 84px rgba(0, 0, 0, 0.08), 0px 62px 62px rgba(0, 0, 0, 0.13), 0px 15px 34px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.FotoDerQuinesSomosAnimales {
    width: 100%;
    height: 20rem;
    border-radius: 0px 40px;
    box-shadow: 0px 247px 99px rgba(0, 0, 0, 0.02), 0px 139px 84px rgba(0, 0, 0, 0.08), 0px 62px 62px rgba(0, 0, 0, 0.13), 0px 15px 34px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.divQuinesSomosAnimalesTexto {
    width: 50%;
}

.QuinesSomosAnimalesTexto {
    color: #335151;
    font-weight: 500;
    margin: 0px;
    padding: 1rem;
    text-align: center;
    font-size: 25px;
}

.divQuinesSomosTituloAcompañanos {
    padding: 1rem;
    margin: 3rem 3rem 10rem 3rem;
}

.quinesSomosTituloAcompañanos {
    margin: 0;
    color: #335151;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
}