/* primer foto y texto quienes somos */

.containerQuinesSomos {
    display: flex;
    padding: 2rem;
    height: 30rem;
}

.divQuinesSomosFotoIzq {
    background: rgba(210, 213, 184, 1);
    border-radius: 0px 20px;
    width: 50%;
}

.divQuinesSomosFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.QuinesSomosFoto {
    width: 80%;
    height: 80%;
}


.divQuinesSomosTextoDer {
    width: 50%;
}

.divQuinesSomosTexto {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    justify-content: center;
}

.QuinesSomosTexto {
    color: #335151;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin: 0px;
    padding: 0.5rem;
}

/* titulo y container soñadores del Changüí   */

.divQuinesSomosTitulo {
    padding: 1rem;
}

.quinesSomosTitulo {
    color: rgba(51, 81, 81, 1);
    font-weight: 600;
    margin: 0px;
}

.containerQuinesSomosSoñadores {
    background: rgba(51, 81, 81, 1);
    border-radius: 0px 25px;

}

.divQuinesSomosSoñadores {
    display: flex;
    height: 30rem;
}

.divQuinesSomosSoñadoresTextoIzq {
    width: 50%;

}

.QuinesSomosSoñadores {
    color: #F3FFF5;
    font-weight: 400;
    margin: 0px;
    padding: 1rem;
}



.divQuinesSomosSoñadoresTextoDer {
    width: 50%;
}

.QuinesSomosSoñadoresFoto {
    width: 80%;
    height: 80%;
    border-radius: 20px 0px;
}

/* 2 fotos izquierda y texto  */

.divQuinesSomos2 {
    display: flex;
    height: 30rem;
}

.divQuinesSomosFotoDerecha {
    width: 50%;
}

.QuinesSomosFotos {
    width: 80%;
    height: 80%;
    border-radius: 0px 20px;
}

.QuinesSomosFotoDer {
    width: 80%;
    height: 80%;
    border-radius: 20px 0px;
}


.containerQuinesSomosAnimales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
}

.divQuinesSomosAnimales {
    width: 25%;
}

.FotoIzqQuinesSomosAnimales {
    width: 100%;
    height: 20rem;
    border-radius: 40px 0px;
}

.FotoDerQuinesSomosAnimales {
    width: 100%;
    height: 20rem;
    border-radius: 0px 40px;
}

.divQuinesSomosAnimalesTexto {
    width: 50%;
}

.QuinesSomosAnimalesTexto {
    color: #335151;
    font-weight: 500;
    margin: 0px;
    padding: 1rem;
}

.quinesSomosTitulos {
    margin: 3rem 3rem 10rem 3rem;
}
