.gridFotosDatos {
    display: flex;
    margin: 5%;
    row-gap: 1rem;
    justify-items: center;
    flex-wrap: wrap;
}

.fotosDatosTarjeta {
    width: 50%;
    height: 25rem;
    position: relative;
}

.fotosDatosFoto {
    width: 95%;
    height: 80%;
    border-radius: 8px;
}

.fotosDatosDivTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 2.5%;
    background: rgba(51, 81, 81, 0.9);
}

.fotosDatosTexto {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    color: #F3FFF5;
    margin: 0px;
    letter-spacing: 0.01em;
}