.gridFotosDatos {
    display: flex;
    margin: 5%;
    row-gap: 1rem;
    justify-items: center;
    flex-wrap: wrap;
}
.fotosDatosTarjeta {
    height: 25rem;
    position: relative;
}
.divEventos{
    position: relative;
}
.divEvento {
    background: rgba(51, 81, 81, 1);
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-radius: 8px;
}
.divEventoTexto{
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
}
.EventoTexto{
    padding: 1rem;
    color: rgba(210, 213, 184, 1);
}
.fotosDatosFoto {
    border-radius: 24px;
    height: 368px;
    position: relative;
    cursor: pointer;
}
.fotosDatosDivTexto {
    background: linear-gradient(0deg,rgba(0,0,0,.3),rgba(0,0,0,.3));
    border-radius: 24px;
    box-shadow: 0 310px 124px rgba(0,0,0,.01), 0 174px 105px rgba(0,0,0,.05), 0 77px 77px rgba(0,0,0,.09), 0 19px 43px rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.1);
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fotosDatosTexto {
    background: rgba(51,81,81,.85);
    color: #f3fff5;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .01em;
    line-height: 38px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.divEventoprueba{
    background: rgba(51, 81, 81, 1);
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-radius: 8px;
}
/*modal*/
#exampleModal .modal-content {
    background: #335151;
    color: #FAFFFB;
}
#exampleModal .btn {
    background: #FAFFFB;
    color: #335151;
}
#exampleModal .btn-cerrar {
    background: inherit;
    color: #FAFFFB;
    border: none;
    font-size: 1.7em;
}