.divAgroecologia {
    background: #335151;
    border-radius: 4px;
    margin: 5rem 3rem;
}

.divTitulo {
    padding: 2rem;
}

.Titulo {
    font-weight: 600;
    color: #FAFFFB;
    font-size: 31.25px;
    line-height: 35px;
    margin: 0px;
}

.div {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.divFotoDuraznos {
    width: 50%;
    display: flex;
    justify-content: center;
}

.fotoDuraznos {
    height: 100%;
    width: 60%;
    border-radius: 0px 40px;
}

.divTextoAgroecologia {
    width: 50%;
}

.textoAgroecologia {
    color: #F3FFF5;
    margin: 0;
    padding: 1rem;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
}