/**********
991px
**********/
@media only screen and (max-width: 991px) {

    /*HEADER*/
    .divNavbar {
        width: auto;
    }

    .divNavbar li {
        font-size: 0.8em;
        margin: 0 5px;
    }

}

/**********
767px
**********/
@media only screen and (max-width: 767px) {

    /*HEADER*/
    .mobileOculto {
        display: block;
        height: 67px;
    }

    .menuMobile {
        display: block;
        color: #F3FFF5;
    }

    .divNavbar {
        position: fixed;
        left: 0;
        top: 67px;
        background: #335151;
        width: 250px;
        height: 100%;
        display: none;
        z-index: 9999999;
    }

    .active {
        display: block !important;
    }

    .divNavbar li {
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 20px;
        font-size: 16px;
    }

    /*FOOTER*/
    .DivFooter {
        text-align: center !important;
    }

    .sloganFooter {
        text-align: center;
        margin-top: 20px;
    }

    .divFooterDer {
        flex-wrap: wrap;
    }

    .iconMobile {
        display: inline-block;
    }

    .footerTexto,
    .footerSeparador,
    .hiddenMobileFooter {
        display: none;
    }

    .box-footer {
        margin-top: 50px;
        padding: 0 20%;
    }

    .copyFooter {
        width: 100%;
        text-align: center;
    }

    /*template cabezal*/

    .texto {
        font-weight: 600;
        font-size: 31.25px;
        line-height: 40px;
    }

    /*HOME*/

    .div {
        padding: 0;
        margin: 0;
    }

    .Titulo {
        font-size: 20px;
        line-height: 35px;
    }

    .fotoDuraznos {
        object-fit: cover;
        height: auto;
        width: 90%;
        height: 368px;
    }

    .textoAgroecologia {
        font-weight: 400;
        font-size: 12px;
        line-height: 27px;
    }

    .InicioVideoTexto {
        margin-top: 50px;
        font-size: 25px;
        line-height: 32px;
        padding: 0;
    }

    .divInicioVideo {
        margin: 0;
        margin-bottom: 50px;
    }

    .gridFotosDatos {
        margin: 0;
        margin-top: 20px;
    }

    .fotosDatosFoto {
        height: 250px;
    }

    .fotosDatosTexto {
        font-weight: 700;
        font-size: 12px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.01em;
    }

    /*VOLUNTARIADO*/

    .textoDerVoluntariado {
        font-size: 18px;
    }

    .tituloVoluntariado {
        font-size: 25px;
        line-height: 32px;
    }

    .divColorTextoIzqValoresVoluntariado {
        left: 40px;
        width: auto;
        height: auto;
    }

    .textoValoresVoluntariado {
        font-weight: 500;
        font-size: 20px;
        line-height: 180%;
    }

    .TextoVoluntariado {
        font-weight: 400;
        font-size: 20px;
    }


    .containerPropuestaVoluntariado {
        margin: 5rem 1%;
    }

    .divTextoIzqPropuestaVoluntariado {
        padding: 0rem 0 0 0.5rem;
        text-align: left;
    }

    .TextoIzqPropuestaVoluntariado {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
    }

    .ListaPropuestaVoluntariado {
        font-size: 16px;
    }

    .ListaLetraChicaPropuestaVoluntariado {
        font-size: 15px;
    }

    .containerImportanteVoluntariado {
        margin: 5rem 5%;
    }

    .tituloImportanteVoluntariado {
        font-size: 20px;
    }

    .textoImportanteVoluntariado {
        font-size: 16px;
    }

    .tituloActividadVoluntariado {
        font-size: 25px;
        line-height: 32px;
    }

    .TextoActividadVoluntariado {
        font-size: 20px;
    }

    .divFotoPlantinesVoluntariado {
        margin: 0px 10%;
    }

    .ultimoTextoVoluntariado {
        font-weight: 400;
        font-size: 20px;
    }

    .ultimoTextoLinkVoluntariado {
        font-weight: 600;
        font-size: 20px;
    }

}

/**********
425px
**********/
@media (min-device-width: 100px) and (max-device-width: 425px) {

    /*FOOTER*/

    .sloganFooter,
    .copyFooter {
        padding: 0 20px;
    }

    /*VOLUNTARIADO*/

    .divColorVoluntariado {
        flex-direction: column-reverse;
    }

    .divFotoIzqVoluntariado {
        width: 100%;
        height: 50%;
    }

    .fotoIzqVoluntariado {
        margin: 8% 0 0 0;
        width: 100%;
        padding: 0rem 1rem;
    }

    .divTextoDerVoluntariado {
        width: 100%;
        height: 50%;
    }

    .textoDerVoluntariado {
        font-size: 16px;
        text-align: center;
    }

    .tituloVoluntariado {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .TextoVoluntariado {
        font-size: 16px;
    }

    .containerPropuestaVoluntariado {
        height: 35rem;
        margin: 5rem 0;
    }

    .divFlexPropuestaVoluntariado {
        flex-direction: column;
    }

    .divTextoIzqPropuestaVoluntariado {
        width: 100%;
        height: 50%;
        padding: 0;
        align-items: center;
    }

    .TextoIzqPropuestaVoluntariado {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    .ListaPropuestaVoluntariado {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
    }

    .divFotoDerPropuestaVoluntariado {
        width: 100%;
        height: 50%;
    }

    .tituloImportanteVoluntariado {
        font-size: 16px;
    }

    .textoImportanteVoluntariado {
        font-size: 14px;
    }

    .tituloActividadVoluntariado {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .TextoActividadVoluntariado {
        font-size: 16px;
    }

    .divFotoPlantinesVoluntariado {
        margin: 0;
    }

    .divFlexPropuestaVoluntariado {
        flex-direction: column;
    }

    .divFotoDerPropuestaVoluntariado {
        width: 100%;
        height: 50%;
    }

    .divTextoIzqPropuestaVoluntariado {
        width: 100%;
        height: 50%;
    }

    .ultimoTextoVoluntariado {
        font-size: 16px;
    }

    .ultimoTextoLinkVoluntariado {
        font-size: 16px;
    }

}