/**********
991px
**********/

@media only screen and (max-width: 991px) {

    /*HEADER*/

    .divNavbar {
        width: auto;
    }

    .divNavbar li {
        font-size: 0.8em;
        margin: 0 5px;
    }

    /*CONTACTANOS*/

    .divGridRedesContactanos {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .divRedesContactanos {
        margin: 1.5rem 1rem;
        padding: 1.5rem 0.5rem;
        display: block;
    }

    .textoRedesContactanos {
        display: none;
    }
}

/**********
767px
**********/
@media only screen and (max-width: 767px) {

    /*HEADER*/

    .mobileOculto {
        display: block;
        height: 67px;
    }

    .menuMobile {
        display: block;
        color: #F3FFF5;
    }

    .divNavbar {
        position: fixed;
        left: 0;
        top: 67px;
        background: #335151;
        width: 250px;
        height: 100%;
        display: none;
        z-index: 9999999;
    }

    .active {
        display: block !important;
    }

    .divNavbar li {
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 20px;
        font-size: 16px;
    }

    /*cabezal*/

    .texto {
        font-size: 31.25px;
        line-height: 40px;
    }

    /*FOOTER*/

    .DivFooter {
        text-align: center !important;
        justify-content: center;
        padding: 50px 10px;
    }

    .sloganFooter {
        text-align: center;
        margin-top: 20px;
    }

    .divFooterDer {
        flex-wrap: wrap;
    }

    .iconMobile {
        display: inline-block;
    }
    .iconNone{
        display: inline-block;
    }

    .footerTexto,
    .footerSeparador,
    .hiddenMobileFooter {
        display: none;
    }

    .box-footer {
        margin-top: 50px;
        padding: 0 5%;
    }

    .copyFooter {
        width: 100%;
        text-align: center;
    }

    /*template cabezal*/

    .texto {
        font-weight: 600;
        font-size: 31.25px;
        line-height: 40px;
    }

    /*HOME*/

    .div {
        padding: 0;
        margin: 0;
    }

    .Titulo {
        font-size: 20px;
        line-height: 35px;
    }

    .fotoDuraznos {
        object-fit: cover;
        height: auto;
        width: 90%;
        height: 368px;
    }

    .textoAgroecologia {
        font-weight: 400;
        font-size: 12px;
        line-height: 27px;
    }

    .InicioVideoTexto {
        margin-top: 50px;
        font-size: 25px;
        line-height: 32px;
        padding: 0;
    }

    .divInicioVideo {
        margin: 0;
        margin-bottom: 50px;
    }

    .gridFotosDatos {
        margin: 0;
        margin-top: 20px;
    }

    .fotosDatosFoto {
        height: 250px;
    }

    .fotosDatosTexto {
        font-weight: 700;
        font-size: 12px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.01em;
    }

    /*que hacemos*/

    .queHacemosFlexBox {
        margin: 50px 0px;
        padding: 0;
    }

    .boxQueHacemos {
        height: 216px;
    }

    .TextoBox {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.01em;
    }

    .masBox {
        width: 24px;
        height: 24px;
        bottom: 25px;
    }

    .masBox svg {
        width: 15px;
        height: 15px;
    }

    /*CONTACTANOS*/

    .textoContactanos {
        font-weight: 400;
        font-size: 25px;
        line-height: 140%;
    }

    .textoMapaUbicacionContactanos {
        font-size: 16px;
        line-height: 90%;
        display: block;
    }

    /*quienes somos*/

    .primerContainerQuinesSomos,
    .containerQuinesSomos {
        padding: 0;
        margin: 50px 0px;
    }

    .QuinesSomosFoto {
        border-radius: 0px 40px;
    }

    .divQuinesSomosTexto p {
        font-size: 2vw;
    }

    .quinesSomosTitulo,
    .quinesSomosTituloAcompañanos {
        font-size: 4vw;
    }

    /*que hacemos template*/

    .contenedorTemplate {
        padding: 0px;
    }

    .contenedorColor {
        padding: 20px;
    }

    .templateHeader a {
        width: 32px;
        height: 32px;
    }

    .templateHeader h1 {
        font-size: 2.8vw;
        width: 100%;
    }

    .templateTextNormal {
        font-size: 2.2vw;
    }

    .templateTextSmall {
        font-size: 2.1vw;
    }

    .templateDescripcion1 p {
        margin-bottom: 20px;
    }

    .listaTemplate {
        font-size: 1.8vw;
        margin-bottom: 20px;
    }

    .containerGaleriTemplate {
        flex-wrap: wrap;
        left: 0;
        width: 100%;
        margin: 0;
    }

    .templateGaleriaBox {
        height: 176px;
    }

    .templateGaleriaBox p {
        font-size: 2vw;
    }

    /*ecogranjas*/

    .divEcogranjaEducativo {
        display: flex;
        height: auto;
    }

    .tituloEcogranjaEducativo {
        font-size: 20px;
    }

    .textoEcogranjaEducativo {
        font-size: 16px;
    }

    .textoNegritaEcogranjaEducativo {
        font-size: 18px;
    }

    .ContainerFotoTextoEcogranja {
        padding: 0;
        margin: 50px 0px;
    }


    .textoEcogranjaFotoTexto {
        font-size: 14px;
    }

    .etapasHeader,
    .actividadesHeader {
        font-size: 2.5vw;
    }

    .etapasBody li,
    .actividadesBody li {
        font-size: 2vw;
        margin-bottom: 20px;
    }

    /*VOLUNTARIADO*/

    .textoDerVoluntariado {
        font-size: 18px;
    }

    .tituloVoluntariado {
        font-size: 25px;
        line-height: 32px;
    }

    .divColorTextoIzqValoresVoluntariado {
        left: 40px;
        width: auto;
        height: auto;
    }

    .textoValoresVoluntariado {
        font-weight: 500;
        font-size: 20px;
        line-height: 180%;
    }

    .TextoVoluntariado {
        font-weight: 400;
        font-size: 20px;
    }

    .containerPropuestaVoluntariado {
        margin: 5rem 1%;
    }

    .divTextoIzqPropuestaVoluntariado {
        padding: 0rem 0 0 0.5rem;
        text-align: left;
    }

    .TextoIzqPropuestaVoluntariado {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
    }

    .ListaPropuestaVoluntariado {
        font-size: 16px;
    }

    .ListaLetraChicaPropuestaVoluntariado {
        font-size: 15px;
    }

    .containerImportanteVoluntariado {
        margin: 5rem 5%;
    }

    .tituloImportanteVoluntariado {
        font-size: 20px;
    }

    .textoImportanteVoluntariado {
        font-size: 16px;
    }

    .tituloActividadVoluntariado {
        font-size: 25px;
        line-height: 32px;
    }

    .TextoActividadVoluntariado {
        font-size: 20px;
    }

    .divFotoPlantinesVoluntariado {
        margin: 0px 10%;
    }

    .ultimoTextoVoluntariado {
        font-weight: 400;
        font-size: 20px;
    }

    .ultimoTextoLinkVoluntariado {
        font-weight: 600;
        font-size: 20px;
    }

}

/**********
425px
**********/

@media (min-device-width: 100px) and (max-device-width: 425px) {

    /*cabezal*/

    .texto {
        font-weight: 400;
        font-size: 5vw;
        line-height: 32px;
    }

    /*FOOTER*/

    .sloganFooter,
    .copyFooter {
        padding: 0 20px;
    }
    .divFooter{
        align-items: center;
    }

    /*inicio*/

    .divTitulo {
        text-align: center;
        padding: 20px 0px;
    }

    .Titulo,
    .InicioVideoTexto,
    .InicioVideoTexto {
        font-size: 6vw;
    }

    .div {
        flex-direction: column-reverse;
    }

    .divFotoDuraznos {
        width: 100%;
        margin-bottom: 10px;
    }

    .divTextoAgroecologia {
        width: 100%;
    }

    .divTextoAgroecologia p {
        font-size: 4vw;
        font-weight: 300;
    }

    /*carousel*/

    .slick-next {
        right: 0;
    }

    .carousel h2 {
        font-size: 6vw;
    }

    /*que hacemos*/

    .queHacemosFlexBox {
        flex-wrap: wrap;
    }

    .boxQueHacemos {
        height: 216px;
    }

    .TextoBox {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.01em;
    }

    .masBox {
        width: 24px;
        height: 24px;
        bottom: 25px;
    }

    .masBox svg {
        width: 15px;
        height: 15px;
    }

    /*CONTACTANOS*/

    .textoContactanos {
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
    }

    .containerRedesContactanos {
        display: flex;
        justify-content: center;
    }

    .fondoFotoRedesContactanos {
        height: 60rem;
    }

    .fondoColorRedesContactanos {
        width: 70%;
        top: 150px;
        border-radius: 0px 40px;
    }

    .divGridRedesContactanos {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 25%);
    }

    .divRedesContactanos {
        margin: 1.5rem 1rem;
        padding: 0.5rem;
    }

    .mapaContactanos {
        height: 400px;
    }

    .textoMapaUbicacionContactanos {
        font-size: 14px;
        line-height: 135%;
    }

    /* quienes somos */

    .primerContainerQuinesSomos,
    .containerQuinesSomos {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: start;
        height: auto;
    }

    .divQuinesSomosFotoIzq,
    .divQuinesSomosTextoDer {
        width: 100%;
    }

    .divQuinesSomosTexto {
        padding: 0;
    }

    .divQuinesSomosTexto p {
        font-size: 4vw;
    }

    .divQuinesSomosFoto {
        padding: 15px 0px;
    }

    .divQuinesSomosTituloAcompañanos {
        margin: 50px 0px;
        padding: 0;
    }

    .quinesSomosTitulo,
    .quinesSomosTituloAcompañanos {
        font-size: 6vw;
    }

    .divQuinesSomosSoñadores,
    .divQuinesSomos2,
    .containerQuinesSomosAnimales {
        flex-wrap: wrap;
        height: auto;
    }

    .divQuinesSomos2,
    .divQuinesSomosAnimalesTexto {
        margin: 20px 0px;
    }

    .FotoIzqQuinesSomosAnimales,
    .FotoDerQuinesSomosAnimales {
        height: auto;
    }

    .divQuinesSomosSoñadoresTextoIzq,
    .divQuinesSomosSoñadoresTextoDer,
    .divQuinesSomosFotoIzquierda,
    .divQuinesSomosTextoDer,
    .divQuinesSomosAnimales,
    .divQuinesSomosAnimalesTexto {
        width: 100%;
    }

    /*que hacemos template*/

    .templateHeader a {
        width: 24px;
        height: 24px;
        padding: 4px;
    }

    .templateHeader h1 {
        font-size: 3.8vw;
        width: 100%;
    }

    .templateTextNormal {
        font-size: 4vw;
    }

    .templateTextSmall {
        font-size: 3.7vw;
    }

    .listaTemplate {
        font-size: 3.7vw;
    }

    .templateGaleriaBox {
        height: 112px;
    }

    .templateGaleriaBox p {
        font-size: 3vw;
        padding: 0 5px;
    }

    /*ecogranjas*/

    .divEcogranjaEducativo {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
    }

    .ContainerFotoTextoEcogranja {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .diveEcogranjaFotoIzq {
        width: 100%;
        height: 50%;
    }

    .divEcogranjaTextoDer {
        width: 100%;
        height: 50%;
    }

    .etapasHeader,
    .actividadesHeader {
        font-size: 5vw;
        line-height: 20px;
    }

    .etapasBody li,
    .actividadesBody li {
        font-size: 3vw;
        margin-bottom: 20px;
    }

    /*VOLUNTARIADO*/

    .divColorVoluntariado {
        flex-direction: column-reverse;
    }

    .divFotoIzqVoluntariado {
        width: 100%;
        height: 50%;
    }

    .fotoIzqVoluntariado {
        margin: 8% 0 0 0;
        width: 100%;
        padding: 0rem 1rem;
    }

    .divTextoDerVoluntariado {
        width: 100%;
        height: 50%;
    }

    .textoDerVoluntariado {
        font-size: 16px;
        text-align: center;
    }

    .tituloVoluntariado {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .TextoVoluntariado {
        font-size: 16px;
    }

    .containerPropuestaVoluntariado {
        height: 35rem;
        margin: 5rem 0;
    }

    .divFlexPropuestaVoluntariado {
        flex-direction: column;
    }

    .divTextoIzqPropuestaVoluntariado {
        width: 100%;
        height: 50%;
        padding: 0;
        align-items: center;
    }

    .TextoIzqPropuestaVoluntariado {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    .ListaPropuestaVoluntariado {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
    }

    .divFotoDerPropuestaVoluntariado {
        width: 100%;
        height: 50%;
    }

    .tituloImportanteVoluntariado {
        font-size: 16px;
    }

    .textoImportanteVoluntariado {
        font-size: 14px;
    }

    .tituloActividadVoluntariado {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .TextoActividadVoluntariado {
        font-size: 16px;
    }

    .divFotoPlantinesVoluntariado {
        margin: 0;
    }

    .divFlexPropuestaVoluntariado {
        flex-direction: column;
    }

    .divFotoDerPropuestaVoluntariado {
        width: 100%;
        height: 50%;
    }

    .divTextoIzqPropuestaVoluntariado {
        width: 100%;
        height: 50%;
    }

    .ultimoTextoVoluntariado {
        font-size: 16px;
    }

    .ultimoTextoLinkVoluntariado {
        font-size: 16px;
    }

}